# GEOMAGIXS SETUP-CONFIGURATION FILE
#
# the file contains configuration data requiered by the geomagixs system.
#
################################################################################
################################################################################
# Directories ##################################################################
#
# preferably use absolute addresses
# ------------------------------------------------------------------------------
#
# Input Directory --------------------------------------------------------------
~/luis/input
#
# Auxiliary Data Directory -----------------------------------------------------
~/luis/input/auxiliar
#
# Output Directory -------------------------------------------------------------
~/luis/output
# ------------------------------------------------------------------------------
################################################################################
# END setup file
#
#
#
