# GEOMAGIXS GEOMAGNETIC STATIONS CONFIGURATION FILE
#
# the file contains data of the geomagnetic stations (GMS) implemented by the
# geomagixs system.
#
# it could be added any number of registers for GMS.
# it is mandatory include all the requiered data.
# once a new GMS is added, it is mandatory that the user creates the associated
# directory-tree
#
# http://wdc.kugi.kyoto-u.ac.jp/igrf/gggm/ [coordinates geographic <-> geomagnetic]
#
################################################################################
################################################################################
# GMS ##########################################################################
################################################################################
################################################################################
# GMS : PLANETARY
# ------------------------------------------------------------------------------
# NAME [lowercase GMS name]
planetary
# CODE [lowercase GMS code-name]
pla
# LATITUDE [float, degrees]
0.0
# LONGITUDE [float, degrees]
0.0
# ELEVATION [float, meters]
0.0
################################################################################
# GMS : PERU
# ------------------------------------------------------------------------------
# NAME [lowercase GMS name]
peru
# CODE [lowercase GMS code-name]
per
# LATITUDE [float, degrees]
-9.190
# LONGITUDE [float, degrees]
-75.015
# ELEVATION [float, meters]
161.0
################################################################################
# GMS : HUANCAYO (2.71S 2.61W)
# ------------------------------------------------------------------------------
# NAME [lowercase GMS name]
huancayo
# CODE [lowercase GMS code-name]
hua
# LATITUDE [float, degrees]
-12.042
# LONGITUDE [float, degrees]
-75.321
# ELEVATION [float, meters]
3321.0
################################################################################
# GMS : AUXILIAR (2.71S 2.61W)
# ------------------------------------------------------------------------------
# NAME [lowercase GMS name]
auxiliar
# CODE [lowercase GMS code-name]
aux
# LATITUDE [float, degrees]
0.
# LONGITUDE [float, degrees]
0.
# ELEVATION [float, meters]
0.
################################################################################
################################################################################
# END setup file
#
#
#
